<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/map.css">
</head>

<body>
	<% include ../partials/nav.ejs %>
	<div id="mapid"></div>

	<div class="popup-position" id="popupForm">
		<%- include ../partials/modal.ejs %>
	</div>

	<% if(username==""){ %>
		<%- include ../partials/login.ejs %>
		<%- include ../partials/signup.ejs %>
	<% } else { %>
		<h1 class="wrapper">Hello, <%= username %>!</div>
	<% } %>

	<script src="/javascript/map.js"></script>
	<script src="/javascript/account.js"></script>

	<script>
		displayMarkers(<%-JSON.stringify(data)%>);
	</script>

</body>
</html>
